@use "../abstracts/variables" as *;

.breadcrumb {
  margin-bottom: 40px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__link {
    text-decoration: none;
  }
  &__current {
    color: $color-black;
  }
  &__separator {
    color: rgba(0, 0, 0, 0.5);
  }
  &__link,
  &__link:visited,
  &__link:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}
