@use "../abstracts/variables" as *;

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 219px;
  height: 145px;
  border: 1px solid $color-black;
  border-radius: $border-radius-base;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    background: $color-primary;
    color: $color-white;
  }

  &__image-container {
    max-width: 50px;
    max-height: 50px;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  &__title {
    font-size: $font-size-md;
    font-weight: 400;
  }
}
